        body {
            font-family: 'Poppins', serif;
            font-style: normal;
        } 
        
        .info {
            width: 100%;
            margin: 5em auto auto auto;
            display: flex;
            justify-content: space-around;
        }

        .l {
            flex-shrink: 0;
            margin: auto 1em auto 2em;
            font-weight: bolder;
        }

        .r {
            width: 18%;
            margin: auto 2em auto 2em;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 3em auto auto auto;
            width: 100%;
        }

        /* .item-mobile {
            margin: auto 3em auto 2em;
        } */

        .item {
            margin: auto 3em auto 2em;
            width: 20%;
            height: auto;
        }

        .item-pc {
            margin: 8em 3em auto 2em;  
        }


        img {
            width: 100%;
            height: auto;
        }   

        .bottom {
            width: max-content;
            height: min-content;
            font-weight: bolder;
            font-size: 1.2em;
        }

        .right {
            position: absolute;
            margin: -15% auto auto 6%;
            width: 30%;
            height: fit-content;
            transform: rotate(90deg); 
            text-transform: uppercase;
            letter-spacing: 0.3em;
            font-weight: bold;
            font-size: 0.7em;
        }

        figcaption {
            font-size: 1em;
        }

        @media screen and (max-width: 768px) {

        .info {
            flex-direction: column;
            align-items: flex-start;
            }
            
        .l, .r {
            margin: 1em;
            width: auto;
            }

        .content {
            width: 100%;
            justify-content: left;
            margin-top: 2em;
            }

        .item-pc {
            margin: auto 3em auto 2em;  
            }
        
        .item {
            width: 28%
            }        
        
        .item-mobile {
            width: 28%;
            margin: 4em auto auto 1em;
        }

        img {
            width: 100%;
            height: auto;
        }

        .bottom {
            width: max-content;
            height: max-content;
            font-weight: bold;
            font-size: 0.8em;
        }

        .right {
            position: absolute;
            margin: -18% auto auto 4%;
            width: 50%;
            height: auto;
            transform: rotate(90deg); 
            text-transform: uppercase;
            font-size: 0.5em;
            letter-spacing: 0.1;
        }
        }
        
        @media screen and (max-width: 276px) {

        .item {
            width: 26%;
                }  

        .item-mobile {
            width: 26%;
            margin: 4em auto auto 0.3em;  
            }

        .right {
            position: absolute;
            margin: -20% auto auto 3%;
            width: 50%;
            height: auto;
            transform: rotate(90deg); 
            text-transform: uppercase;
            font-size: 0.3em;
            letter-spacing: 0.1;
            }
        }

        h3 {
            text-transform: uppercase;
        }

        footer {
            text-align: center;
            font-size: 1em;
            margin-top: 5em;
        }