        body{
            font-family: 'Poppins', serif;
            font-style: normal;
        } 
        
        .info {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .l {
            flex-shrink: 0;
            margin-right: 5em;
            margin-left: 10em;
        }

        .r {
            margin-right: 10em;
            margin-left: 5em;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; 
            margin: 5em;
        }

        img {
            width: 25%;
            height: 25%;
            margin-right: 4em;
            margin-bottom: 4em;
        }

        #Saba, #Griff {
            margin-top: 5em;
        }

        @media screen and (max-width: 768px) {
        .info {
            flex-direction: column;
            align-items: flex-start;
            }

        .l, .r {
            margin: 1em;
            }

        .content {
            margin: 1em;
        }
        
        img {
            width: 40%;
            margin: 1em;
            }

        #Saba, #Skylah, #Stan {
            margin-top: 5em;
        }

        #Griff {
            margin-top: 1em;
        }

        }

        h3 {
            text-transform: uppercase;
        }

        footer {
            text-align: center;
            font-size: 1em;
            margin-top: 5em;
        }